/* styles.css */

/* Theme Variables */
:root {
  --bg-color: #fff;
  --text-color: #000;
  --border-color: #ccc;
  --link-color: #007bff;
  --quote-bg-color: #f9f9f9;
  --quote-border-color: #ccc;
  --toggle-bg: #d1c478;
}

body.dark-mode {
  --bg-color: #212121;
  --text-color: #fff;
  --border-color: #444;
  --link-color: #1E90FF;
  --quote-bg-color: #1e1e1e;
  --quote-border-color: #444;
  --toggle-bg: #7a5fa8;
}

/* General Styles */
body {
  font-family: Arial, sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  transition: background-color 0.3s, color 0.3s;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
}

/* Navbar Styles */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #333;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
}

.navbar a:hover {
  background: #555;
}

/* Theme Toggle Button */
.theme-toggle-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.theme-toggle {
  width: 50px;
  height: 25px;
  background-color: var(--toggle-bg);
  border-radius: 25px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s;
}

.theme-toggle .toggle-dot {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 4px;
  transform: translateY(-50%);
  transition: left 0.3s;
}

.theme-toggle.active .toggle-dot {
  left: calc(100% - 24px);
}

.theme-icon {
  font-size: 1.5em;
}


.section-title {
  margin-top: 20px;
  font-size: 1.5em;
  padding-bottom: 5px;
}

.date-posted {
  color: gray;
}

.top-info {
  padding-left: 20px;
  padding-right: 20px;
}

.home-info {
  padding-left: 20px;
  padding-right: 20px;
}