---
import BaseLayout from '../../layouts/BaseLayout.astro';
---
<BaseLayout
  title="Essays | Ariiellus"
  description="Essays"
  ogUrl="https://ariiellus.eth.limo/general/essays/"
>
  <p>
    <em>"There is no greater agony than bearing an untold story inside you."</em>
    <br /><br />
    <strong><em>— Maya Angelou</em></strong>
  </p>
  <br />

  <div class="writing-item">
    <ul>
      <li><a href="/general/essays/OnReflecting/">On Reflecting</a></li>
      <li><a href="/general/essays/OnFirstDays/">On First Days</a></li>
    </ul>
  </div>

  <div class="writing-item">
    <em>DISCLAIMER: All my essays have been written by a past and less wise version of myself, my current self may not aggree with them.</em>
  </div>
</BaseLayout>
