<!-- navbar.html -->
<nav class="navbar">
  <div class="left-navbar">
    <a href="index.html"><img src="../assets/Fuffle1405.png" href="index.html" class="profile-picture"
        alt="Ariiellus Profile Picture"> </a>
  </div>

  <div class="right-navbar">
    <a href="index.html">Home</a>
    <a href="writings.html">Writings</a>
    <a href="about.html">About</a>
    <!-- <a href="test.html">Test</a> -->
  </div>

  <!-- Theme Toggle Inside Navbar -->
  <div class="theme-toggle-wrapper">
    <span class="theme-icon">☀️</span>
    <div class="theme-toggle" id="theme-toggle">
      <div class="toggle-dot"></div>
    </div>
    <span class="theme-icon">🌙</span>
  </div>
</nav>