---
import BaseLayout from '../../../layouts/BaseLayout.astro';
---
<BaseLayout
  title="Support Letter for Roman Storm | Ariiellus"
  description="A support letter for Roman Storm, one of the founders of Tornado Cash, a non-custodial privacy protocol."
  ogUrl="https://ariiellus.eth.limo/general/writings/Supporting-Roman/"
  ogImage="https://ariiellus.eth.limo/images/Profile.png"
>
  <h2>Support Letter for Roman Storm</h2>
  <p class="date">January 9, 2026</p>
  <hr />

  <p>
    I decided to write a support letter to Roman Storm. <a href="https://x.com/rstormsf/status/1882100012513186283" target="_blank" rel="noopener noreferrer">Roman Storm</a> is one of the founders of Tornado Cash, a non-custodial privacy protocol. If you want to support Roman, consider <a href="https://freeromanstorm.com/write-letter" target="_blank" rel="noopener noreferrer">writing a support letter</a> or <a href="https://freeromanstorm.com/donate" target="_blank" rel="noopener noreferrer">donating to his legal defense</a>.
  </p>
  <hr />
  <p>
    Around 35 years ago, a man was investigated for creating software that allowed anyone to communicate with others privately. At that time, strong encryption was considered a kind of 'munition'. About three years later, the government dropped the investigation after the release of a book titled <a href="https://archive.org/details/pgpsourcecodeint0000zimm" target="_blank" rel="noopener noreferrer">'PGP Source Code and Internals'</a> helped establish that encryption code was protected speech.
  </p>
  <p>
    Phil Zimmermann brought a new wave of researchers and cryptographers who built tens, even hundreds, of tools that are used daily in our lives, from messaging apps to banking systems to developing technology.
  </p>
  <p>
    Roman Storm demonstrated to the world that a better privacy system could be built to help people protect themselves. Not because they are doing something bad, but because, as Dan Robinson <a href="https://www.paradigm.xyz/2020/08/ethereum-is-a-dark-forest" target="_blank" rel="noopener noreferrer">pointed out</a>, <em>"Ethereum is a Dark Forest where real monsters are looking for their next prey."</em>
  </p>
  <p>
    Most people interacting with blockchain systems weren't aware of the pseudoanonymity when they began their journey. They created an onchain reputation, and now that these new systems are becoming popular, some users could be in the sights of bad actors.
  </p>
  <p>
    Roman allowed people to regain their privacy and start over again. Writing code should not be considered a weapon but a freedom of speech. Is a carpenter guilty because one of their hammers was used to commit a crime? What about a fork? Or a pickup truck?
  </p>
  <p>
    People can be bad.<br />
    Tools are only tools.
  </p>
  <p>We don't prosecute car manufacturers when vehicles are used in crimes.</p>
  <p>We shouldn't prosecute developers when their code is misused.</p>
</BaseLayout>
